.App {
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App-link img {
  width: 120px;
  height: 120px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-link img {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.mt-5 {
  margin-top: 1.25rem;
}